.navbar-fixed {
  height: 0;
}

.applications li{
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0.5em;
}

.applications li:hover {
    border-bottom: 2px dotted white;
}

#fp-nav ul li a span{
    background: white;
}