a {
    color: inherit;
    text-decoration: inherit;
}

.navbar-fixed {
  height: 0;
}

.hero {
    position: absolute;
    top: 15vh;
    height: 80vh;
}

.applications li{
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0.5em;
}

.applications li:hover {
    border-bottom: 2px dotted white;
}

#fp-nav ul li a span{
    background: white;
}